# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables and secrets
.env
env.yaml
credentials.json
credentials2.json
token.json

# Runtime data
pids
*.pid
*.seed
*.log

# Directory for built binary files
dist/
build/

# System Files
.DS_Store
.vscode/
*.swp
*.swo

# Debug logs
logs/
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/